*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
:root{
    --colorFont: #3e3e3e;
    --roseFont: #ec5a5b;
    --orange: #ffca66;
    --gray: #fbfbfb;
}
body{
    background-color: var(--gray);
    color: #fff;
}
.content{
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

header{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 25px;
    padding: 20px 0;
    background-color: #fff0e9;
}
header .wrapper-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--roseFont);
}
header .wrapper-header .left-header{
    display: flex;
    align-items: center;
    gap: 300px;   
}
header .wrapper-header .left-header .logo{
    font-weight: 700;
    color: #000;
}
header .wrapper-header .left-header ul.links{
    font-size: 15px;
    color: var(--colorFont);
    display: flex;
    flex-basis: 80%;
    padding-left: 0;
    list-style: none;
    gap: 50px;
}
header .wrapper-header .left-header ul.links li{
    cursor: pointer;
}
header .wrapper-header .right-header{
    display: flex;
    align-items: center;
}
header .wrapper-header .right-header .cart{
    position: relative;
    cursor: pointer;
}
header .wrapper-header .right-header .cart svg{
    width: 35px;
    height: 35px;
    fill: var(--roseFont);    
}
header .wrapper-header .right-header .cart p{
    position: absolute;
    top: -7px;
    right: -7px;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 13px;
    border-radius: 50%;
}

header .sidebar.active{
    transform: translateX(0);
    width: 350px;
    opacity: 1;
}
header .sidebar.active button{
    opacity: 1;
    width: auto;
    font-size: 25px;
    right: 0;
}
header .sidebar{
    transition: all .4s ease-in-out;
    transform: translateX(100%);
    position: absolute;
    opacity: 1;
    background-color: #fff;
    width: 0px;
    height: 100vh;
    top: 0;
    right: 0;
    justify-content: center;
    padding: 50px 15px;
    border-left: 1px solid #ec5a5a3c;
}
header .sidebar button{
    opacity: 0;
    transition: all .4s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -100%;
    background: transparent;
    border: none;
    margin: 15px;
}
header .sidebar .products-in-cart{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
    padding-top: 30px;
    list-style: none;
    
}
header .sidebar .products-in-cart li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .sidebar .products-in-cart li .left {
    display: flex;
    align-items: center;
    gap: 10px;
}
header .sidebar .products-in-cart li .left .image img{
    width: 50px;
    height: auto;
}
header .sidebar .products-in-cart li .left .text{
    display: flex;
    flex-direction: column;
}
header .sidebar .products-in-cart li .left .text span:not(#name-product){
    color: #ec5a5b;
}
header .sidebar .products-in-cart li .right{
    display: flex;
    align-items: center;
    gap: 20px;
}
header .sidebar .products-in-cart li input{
    background-color: #000;
    color: #fff;
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    border: none;
}
header .sidebar .products-in-cart svg{
    cursor: pointer;
    fill: red;
    width: 20px;
    height: 20px;
}
header .sidebar .products-in-cart hr{
    border: 1px solid #ec5a5a36;
}
main{
    color: var(--roseFont);
    background-color: #fff0e9;
    padding: 20vh 0;
    height: fit-content;
    position: relative;
}
.modal-product.active{
    display: block;
}
.modal-product{
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    overflow: hidden;
}
.modal-product .modal-content{
    border-radius: 20px;
    padding: 30px;
    color: #fff;
    background-color: var(--roseFont);
    width: 340px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}
.modal-product .overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #ffffffa4;
}
.modal-product .modal-content #closeModal{
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    font-size: 20px;
}
.modal-product .modal-content .body {
    text-align: center;
    display: flex;
    justify-content: center;
}
.modal-product .modal-content .body .info .image {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.modal-product .modal-content .body .info .image img{
    width: 100%;
    height: 100%;
    border: 10px solid #fff;
    padding: 5px;
    object-fit: cover;
    border-radius: 50%;
}
.modal-product .modal-content .body .info .text h3{
    margin: 15px 0;
}
.modal-product .modal-content .body .info .text p{
    color: var(--colorFont);
}
.modal-product .modal-content .body .info .footer{
    position: absolute;
    bottom: 0;
    left: 20px;
    margin: 30px 0;
}
.modal-product .modal-content .body .info .footer .group-col{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.modal-product .modal-content .body .info .footer .group-col span{
    font-size: 25px;
}
.modal-product .modal-content .body .info .footer .group-col input{
    border: none;
    background-color: #fff;
    width: 100px;
    border-radius: 20px;
    text-align: center;
}
.modal-product .modal-content .body .info .footer button{
    width: 300px;
    height: 40px;
    border: none;
    font-weight: 700;
    color: var(--colorFont);
    background-color: var(--orange);
    border-radius: 20px;
}
main .wrapper-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .wrapper-main .text{
    width: 550px;
}
main .wrapper-main .text h1{
    font-size: 60px;
}
main .wrapper-main .text p{
    padding: 30px 0;
    color: var(--colorFont);
    font-size: 20px;
}
main .wrapper-main .text .wrapper-buttons{
    display: flex;
    gap: 30px;
}
main .wrapper-main .text .wrapper-buttons button{
    display: flex;
    align-items: center;
    gap: 13px;
    height: 50px;
    border-radius: 40px;
    background-color: var(--roseFont);
    border: none;
    color: #fff;
    font-size: 16.67px;
    font-weight: 700;
    flex-basis: 30%;
    padding: 8px;
}
main .wrapper-main .text .wrapper-buttons button i{
    background-color: var(--orange);
    padding: 10px 12px;
    border-radius: 50%;
    color: var(--colorFont);
}
main .wrapper-main .text .wrapper-buttons button#view-more {
    background: transparent;
    color: #000;
}
main .wrapper-main .text .wrapper-buttons button#view-more i{
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.5);
    background-color: #fff;
    padding: 10px 15px;

}
main .wrapper-main img{
    width: 600px;
    height: auto;
    object-fit: contain;
}
main .info-restaurant{
    width: 1250px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: -100px;
    display: flex;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px -11px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px -11px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px -11px rgba(0,0,0,0.5);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}
main .info-restaurant .info{
    flex-basis: 27%;
    display: flex;
    align-items: center;
    gap: 15px;
}
main .info-restaurant .info span{
    background-color: var(--orange);
    color: #000;
    padding: 25px;
    font-size: 25px;
    border-radius: 50%;
}
main .info-restaurant .info .text{
    color: #3e3e3e;
}
main .info-restaurant .info .text h3{
    color: #000;
    font-size: 25px;
    font-weight: 700;
}
main .info-restaurant .info .text p{
    font-size: 15px;
}
section.cardapio {
    padding-top: 10vh;
}
section.cardapio .wrapper-products{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 130px;
    row-gap: 120px;
}
section.cardapio .wrapper-products .product{
    position: relative;
    border-radius: 20px;
    width: 300px;
    height: auto;
    color: #000;
    text-align: left;
    background-color: #f5e6dc;
    padding: 20px;
}
section.cardapio .wrapper-products .product img{
    position: absolute;
    display: flex;
    top: -50px;
    right: -30px;
    outline: 20px solid var(--roseFont);
    object-fit: cover;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
section.cardapio .wrapper-products .product li{
    margin-top: 210px;
    font-size: 25px;
    list-style: none;
    font-weight: 700;
}
section.cardapio .wrapper-products .product span i{
    color: rgb(253, 173, 53);
}
section.cardapio .wrapper-products .product .info{
    padding: 10px 0;
    gap: 20px;
}
section.cardapio .wrapper-products .product .info label{
    margin-right: 15px;
}
section.cardapio .wrapper-products .product .info input{
    border: none;
    background-color: var(--gray);
    border-radius: 20px;
    width: 80px;
    height: 30px;
    text-align: center;
}
section.cardapio .wrapper-products .product .info .footer{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}
section.cardapio .wrapper-products .product .info .footer p{
    font-weight: 700;
    font-size: 20px;
}
section.cardapio .wrapper-products .product .info .footer button{
    width: 50%;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: var(--roseFont);
    color: #fff;
    font-weight: bold;
    margin: 15px 10px;    
}
section.cardapio .wrapper-products .product button:hover{
    background-color: rgb(0, 81, 187);
}
section{
    color: var(--roseFont);
    padding: 20vh 0 0vh 0;
}
section h3#title-section{
    font-size: 50px;
}
section h3#title-section span{
    color: var(--colorFont);
}
section .highlights{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
section .highlights .food {
    text-align: center;
}
section .highlights .food:hover img{
    transform: scale(0.9);
}
section .highlights .food img{
    width: 350px;
    height: auto;
    transition: transform .5s ease-in-out;
}
section .highlights .food .text h4{
    font-size: 25px;
    color: var(--colorFont);
    margin-bottom: 10px;
}
section .highlights .food .text p{
    font-size: 16.67px;
}
section.section-footer {
    margin: 10vh 0;
    padding-top: 0;
}
section.section-footer .banner{
    overflow: hidden;
    border-radius: 20px;
    background-image: url('/public/img/banner-section.webp') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    position: relative;
}
section.section-footer .banner .text{
    margin: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    color: #fff;
}
section.section-footer .banner .promotion{
    background-color: var(--roseFont);
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    rotate: -10deg;
    border-radius: 50%;
    margin: 40px 80px;
}
section.section-footer .banner .text h3{
    line-height: 0.9;
    font-size: 35px;
    color: var(--orange);
}
section.section-footer .banner .text h3 span{
    font-size: 25px;
    color: #fff;
}
footer{
    padding: 50px 0;
    background-color: #f5e6dc;
}
footer .wrapper-footer{
    display: flex;
    justify-content: space-between;
}
footer .wrapper-footer .item-link{
    max-width: 320px;
    max-height: 455px;
}
footer .wrapper-footer .item-link {
    text-align: left;
}
footer .wrapper-footer .item-link h3{
    font-size: 25px;
    font-weight: 700;
    color: var(--roseFont);
    margin-bottom: 15px;
}
footer .wrapper-footer .item-link a{
    color: var(--colorFont);
    text-decoration: none;
}
footer .wrapper-footer .item-link ul{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-left: 0;
    list-style: none;
}